// /*----------------------------------------*/
// /*  5.3 Sidebar css
// /*----------------------------------------*/


@use '../utils' as *;



// video popup
.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000cc;
  opacity: 0;
  transition: all ease 500ms;
  visibility: hidden;
}
.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // box-shadow: 0 0 15px #000000bf;
  z-index: 1000;
  width: 80%;
  height: 80%;
}



.tp-vedio-wrap {
  text-align: center;
  margin: 0 auto;
  cursor: none;
  & video {
      height: 600px;
      width: 1290px;
      object-fit: cover;
      border-radius: 30px;
      cursor: none;
      @media #{$xl}{
          width: 1170px;
      }
      @media #{$lg}{
          width: 960px;
      }
      @media #{$md}{
          width: 735px;
          height: 450px;
      }
      @media #{$xs}{
          width: 300px;
          height: 300px;
      }
      @media #{$sm}{
          width: 545px;
          height: 300px;
      }
  }
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--tp-common-blue-4);
  box-sizing: border-box;
  z-index: 10000000;
  opacity: 0.5;
  transition: all 0.08s ease-out;
  cursor: none;
}

.mouseCursor {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translateZ(0);
  visibility: hidden;
  text-align: center;
  cursor: none;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 10000001;
  background-color: var(--tp-common-blue-4);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  & a {
      color: #fff;
      line-height: 100px;
      transform: scale(0);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      margin-left: 3px;
      opacity: 0;
      visibility: hidden;
  }
  &.cursor-big {
      cursor: none;
      & a {
          transform: scale(1);
          opacity: 1;
          visibility: visible;
      }
  }
}

.mouseCursor.cursor-big {
  width: 100px;
  height: 100px;
  cursor: none;
}

.mouseCursor.cursor-big {
  cursor: none;
  &.cursor-outer {
      display: none;
  }
}

.tp-cursor-point-area {
  cursor: none;
}

.tp-vedio-title{
  font-weight: 500;
  font-size: 60px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.02em; 
  color: var(--tp-common-black);
  @media #{$lg}{
      font-size: 42px;
  }
  @media #{$md}{
      font-size: 42px;
  }
  @media #{$xs}{
      font-size: 38px;
  }
  
}
.tp-vedio-sction-box {
  @media #{$xs}{
      padding-bottom: 40px;
  }
}
